@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  display: block;
  position: relative;
  width: 100vw;
  height: 500px;
  background-image: url(/assets/hero-small-pranjall-kumar.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main--promo {
  display: sticky;
  width: 100vw;
  height: auto;
  padding-bottom: 10px;
  background: linear-gradient(-45deg, #dba24a, #e12301, #FFFa8a, #ce0000);
  background-size: 400% 400%;
  -webkit-animation: gradient 60s ease infinite;
          animation: gradient 60s ease infinite;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(1, 11, 19, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(1, 11, 19, 0.2);
}

.main--header {
  display: block;
  padding-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.4)), color-stop(rgba(255, 255, 255, 0.6)), color-stop(rgba(255, 255, 255, 0.6)), color-stop(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.main--header_text {
  padding-top: 20px;
  text-align: center;
  color: #010b13;
  font-size: xx-large;
  font-family: 'Pacifico';
}

.main--header_quote {
  text-align: center;
}

.main--promoblock_01 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
  padding-bottom: 10px;
}

.main--promoblock_01-img {
  display: inline-block;
  background-image: url(/assets/pizza02.jpg);
  -ms-grid-column: 1;
  grid-column: 1/1;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #010b13;
  border-radius: 5px;
  margin-left: 10px;
}

.main--promoblock_01-box {
  position: relative;
  display: inline-block;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  border-radius: 3px;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 3px 2px 1px rgba(1, 11, 19, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(1, 11, 19, 0.2);
  background-color: rgba(1, 11, 19, 0.6);
  z-index: 0;
}

.main--promoblock_01-box-header {
  margin: 5px 0 0 15px;
  color: #f1f1f1;
}

.main--promoblock_01-box-text {
  margin: 3px 0 0 6px;
  font-size: 14px;
  color: #f1f1f1;
}

.main--promoblock_02 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
}

.main--promoblock_02-img {
  display: inline-block;
  background-image: url(/assets/pizza02.jpg);
  -ms-grid-column: 3;
  grid-column: 3/3;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #010b13;
  border-radius: 5px;
  margin-right: 10px;
}

.main--promoblock_02-box {
  position: relative;
  display: inline-block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 3px 2px 1px rgba(1, 11, 19, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(1, 11, 19, 0.2);
  background-color: rgba(1, 11, 19, 0.6);
  border-radius: 3px;
}

.main--promoblock_02-box-header {
  margin: 5px 0 0 15px;
  color: #f1f1f1;
}

.main--promoblock_02-box-text {
  margin: 3px 0 0 6px;
  font-size: 14px;
  color: #f1f1f1;
}

.cardnav {
  background-image: url(/assets/home-pizza-menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vw;
}

.cardnav_card {
  position: relative;
  display: block;
  top: 50%;
  height: 150px;
  width: 55vw;
  background-color: #ce0000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 5px 5px 2px 1px rgba(1, 11, 19, 0.2);
          box-shadow: 5px 5px 2px 1px rgba(1, 11, 19, 0.2);
}

.cardnav_card--list {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cardnav_card--list-item {
  padding: 5px 0 5px 8px;
}

.cardnav_card--list-item a {
  color: #f1f1f1;
  text-decoration: none;
}

.about__hero {
  display: block;
  width: 100vw;
  height: 300px;
  background-image: url(../../assets/pizza04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__promo {
  padding: 10px;
  background-color: purple;
}

.about__promo--header {
  position: relative;
  display: block;
  background-color: gold;
}

.about__promo--header-title {
  text-align: center;
}

.about__promo--header-text {
  text-align: center;
  vertical-align: middle;
  padding: 5px 10px;
}

.about__promo--profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about__promo--profile-img {
  -ms-grid-columns: 1/2;
      grid-template-columns: 1/2;
  height: 150px;
  background-image: url(/assets/pizza06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__promo--profile-text {
  -ms-grid-columns: 2/3;
      grid-template-columns: 2/3;
  padding: 15px 5px 5px 5px;
  background-color: aqua;
}

.about__mission {
  padding: 10px;
}

.about__mission--title {
  text-align: center;
  margin-bottom: 5px;
}

.about__video--clip {
  background-color: aquamarine;
  padding: 10px;
}

.about__video--clip-frame {
  position: relative;
  width: 304px;
  height: 171px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__hero {
  width: 100vw;
  height: 500px;
  background-image: url(/assets/pizza01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__quoteblock {
  position: relative;
  background-color: #FFFa8a;
  padding: 10px;
}

.menu__quoteblock-quote {
  padding-left: 20px;
}

.menu__actual--dropdown-input {
  position: relative;
}

.menu__actual--dropdown-input input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
}

.menu__actual--dropdown-input input ~ ul {
  height: 100%;
  overflow: hidden;
}

.menu__actual--dropdown-type1 {
  background-color: #dba24a;
  padding: 10px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.menu__actual--dropdown-type2 {
  background-color: #e12301;
  padding: 10px;
}

.menu__actual--dropdown-items {
  display: block;
  position: relative;
  height: 500px;
}

.menu__actual--dropdown-items-item {
  position: relative;
  width: auto;
}

.menu__actual--dropdown-items-img {
  float: right;
  height: 100px;
  width: 100px;
  background-color: purple;
}

#appetizerID:checked ~ ul {
  position: absolute;
  height: 0%;
}

#appetizerID:checked ~ .appbox {
  position: absolute;
  height: 0%;
}

#appetizerID:not(:checked) {
  position: absolute;
  height: 100%;
}

#appetizerID:not(:checked) ~ .appbox {
  position: absolute;
  height: 100%;
}

#mainID:checked ~ ul {
  position: absolute;
  height: 0%;
}

#mainID:not(:checked) {
  position: absolute;
  height: 100%;
}

#dessertsID:checked ~ ul {
  position: absolute;
  height: 0%;
}

#dessertsID:not(:checked) {
  position: absolute;
  height: 100%;
}

#drinksID:checked ~ ul {
  position: absolute;
  height: 0%;
}

#drinksID:not(:checked) {
  position: absolute;
  height: 100%;
}

.navbar {
  display: -ms-grid;
  display: grid;
  position: fixed;
  -ms-grid-columns: 100px 3fr 120px;
      grid-template-columns: 100px 3fr 120px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background-color: #dba24a;
  z-index: 10;
}

.navbar__checkbox {
  display: none;
}

.navbar__contact--text {
  position: relative;
  color: #f1f1f1;
  font-family: 'Pacifico';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar__contact a {
  position: relative;
  text-decoration: none;
  color: #f1f1f1;
  font-size: large;
  font-family: 'Pacifico';
}

.navbar__background {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: radial-gradient(#dba24a, #e12301);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navbar__button {
  width: 100%;
  height: 100px;
  text-align: center;
  cursor: pointer;
  z-index: 2000;
}

.navbar__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navbar__item {
  margin: 10px;
  background-color: #dba24a;
}

.navbar__link:link, .navbar__link:visited {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  padding: 10px 30px;
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f1f1f1 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navbar__link:link span, .navbar__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navbar__link:hover, .navbar__link:active {
  background-position: 100%;
  color: #e12301;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navbar__checkbox:checked ~ .navbar__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navbar__checkbox:checked ~ .navbar__nav {
  opacity: 1;
  width: 100%;
}

.navbar__icon {
  position: relative;
  margin-top: 50px;
}

.navbar__icon, .navbar__icon::before, .navbar__icon::after {
  width: 50px;
  height: 3px;
  background-color: #0f0f0f;
  display: inline-block;
}

.navbar__icon::before, .navbar__icon::after {
  content: "";
  position: absolute;
  right: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar__icon::before {
  top: -.8rem;
}

.navbar__icon::after {
  top: .8rem;
}

.navbar__button:hover .navbar__icon::before {
  top: -1rem;
}

.navbar__button:hover .navbar__icon::after {
  top: 1rem;
}

.navbar__checkbox:checked + .navbar__button .navbar__icon {
  background-color: transparent;
}

.navbar__checkbox:checked + .navbar__button .navbar__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar__checkbox:checked + .navbar__button .navbar__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.navbar__logo {
  display: inline-block;
  right: 0;
  height: 100px;
  width: 120px;
  background-image: url(../../assets/opplogo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.location {
  display: block;
  width: 100vw;
  height: 100%;
  padding: 10px 0 10px 0;
  background-color: #e12301;
  color: #f1f1f1;
}

.location_header {
  text-align: center;
}

.location_header-quote {
  padding-left: 25px;
  text-align: center;
}

.location_map {
  position: relative;
  display: block;
  width: 80vw;
  height: 350px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 0 10px 0;
}

.footer {
  position: relative;
  display: block;
  height: 100px;
  width: 100vw;
  background-color: #8a6a61;
}

.footer__list {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.footer__list--item {
  display: inline-block;
}

.footer__list--item-link:link, .footer__list--item-link:visited {
  text-decoration: none;
  color: #f1f1f1;
  padding: 0 2px;
}
/*# sourceMappingURL=main.css.map */