$color-orange: #dba24a;
$color-orange-dark: #e12301;
$color-yellow: #FFFa8a;
$color-yellow-dark: #e1d800;
$color-red: #ce0000;

$color-white: #f1f1f1;
$color-black: #010b13;

$color-grey: #b0b2a6;

$color-footer: #8a6a61;