.about {
 
    &__hero {
        display: block;
        width: 100vw;
        height: 300px;
        background-image: url(../../assets/pizza04.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    &__promo {
        padding: 10px;
        background-color: purple;
        &--header {
            
           position: relative;
           display: block;
           background-color: gold;
            &-title {
           text-align: center;
            }

            &-text {
        text-align: center;
        vertical-align: middle;
        padding: 5px 10px;
            }
        }

        &--profile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      
         
            &-img {
                grid-template-columns: 1/2;
         
                
                height: 150px;
                background-image: url(/assets/pizza06.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                
            }

            &-text {
      
                grid-template-columns: 2/3;
                padding: 15px 5px 5px 5px;
         
                background-color: aqua;
             
            }
        }
    }

    &__mission {
        
        background-image: url(../../assets/pizza06.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
        &--box {
         
            position: relative;
            height: 100%;
            width: 100%;
            background-color: rgba($color-orange, .85);
        }
       
        &--title {
            text-align: center;
            margin-bottom: 5px;
            color: $color-black;
        }

        &--statement {

            &-text {
                padding: 10px 15px 10px 15px; 
                color: $color-black;
            }
        }
    }

    &__video {
        &--clip {

          padding: 10px;

            &-frame {
                position: relative;
                width: 100vw;
                height: 56vw;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

// .main {
//     &--promo {
//         display: block;
//         width: 100vw;
//         height: auto;
//         padding-bottom: 10px;
//         background: linear-gradient(-45deg, #dba24a, #e12301, #e1d800, #ce0000);
//         background-size: 400% 400%;
//         animation: gradient 60s ease infinite;
//     }

//     &--header {
//         display: block;
//         padding-bottom: 20px;
//         background: linear-gradient(-180deg, rgba(#fff, 0), rgba(#fff, 0.4), rgba(#fff, 0.6), rgba(#fff, 0.6), rgba(#fff, 0.4), rgba(#fff, 0));
//         color: #1f1f1f;
//         &_text{
//             padding-top: 20px;
//             text-align: center;
           
//         }

//         &_quote {
//             // margin-top: 5px;
//             // margin-left: 25px;
//             text-align: center;
//         }

//     }
// }